
@media screen and (min-width: 376px) {

    .feature__heading {
        max-width: 15ch;
        margin-bottom: 1.5rem;
    }

    .feature__paragraph {
        max-width: 46ch;
        font-size: 0.88rem;
        line-height: 150%;
    }

    .feature__paragraph--small {
        max-width: 40ch;
        font-size: 0.88rem;
        line-height: 150%;
    }
}